<template id="SimpleQuestionTemplate">
  <link rel="stylesheet" href="/styles/global.css" />
  <div class="question-wrapper">
    <label class="question">
      <span>Question:</span>
    </label>
    <input type="text" name="answer" placeholder="Answer:" required />
    <button type="button">✔️</button>
    <img src="" alt="" />
  </div>
</template>
<script>
  import QuestionWebComponent from "../../types/QuestionWebComponent";
  class SimpleQuestion extends QuestionWebComponent {
    constructor() {
      super('SimpleQuestionTemplate');
    }
    connectedCallback() {
      console.log('SimpleQuestion connected');
    }
  }
  customElements.define('simple-question', SimpleQuestion);
</script>