:root {
  --dark: 34, 36, 40;
  --dark-alt: 33, 42, 55;
  --light: 252, 233, 218;

  --red: 199, 41, 41;
  --green: 57, 142, 61;
  --blue: 25, 117, 210;
  --orange: 240, 108, 0;
  --pink: 195, 24, 93;

  --body-font-family: p22-yule-klein, sans-serif;
  --heading-font-family: p22-yule-heavy-snow, sans-serif;

  --padding-none: 0;
  --padding-small: 0.5rem;
  --padding-standard: 1rem;
  --padding-large: 2rem;

  --standard-border-radius: 2px;
  --large-border-radius: 0.5rem;
  --standard-box-shadow: 0 0 0.5rem rgba(var(--dark), 0.1);
}

* {
  box-sizing: border-box;
  font-family: var(--body-font-family);
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: var(--padding-none);
  padding: var(--padding-none);
  background: rgb(var(--dark));
  color: rgb(var(--light));
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(var(--light));
  color: rgb(var(--red));
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: var(--padding-standard);
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--padding-standard);
  font-size: 0.8rem;
}

main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  flex-grow: 1;
  overflow: auto;
  padding: var(--padding-standard);
  display: flex;
  flex-direction: column;
  gap: var(--padding-standard);
  justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  margin: var(--padding-none);
}

h2 {
  font-size: 1.8rem;
  margin: var(--padding-none);
}

button {
  color: rgb(var(--light));
  background-color: transparent;
  border: 2px solid rgb(var(--light));
  border-radius: var(--large-border-radius);
  padding: var(--padding-small) var(--padding-standard);

  &:hover {
    background-color: rgba(var(--light), 0.3);
  }
}

button.icon-button {
  border: none;
  padding: none;
}

button, a {
  cursor: pointer;
}

input {
  color: rgb(var(--light));
  border: 1px solid rgba(var(--light), 0.2);
  border-radius: var(--standard-border-radius);
  padding: var(--padding-standard);
  background-color: transparent;
  width: 100%;

  &:user-invalid {
    border-color: rgb(var(--red));
  }
}

label {
  position: relative;
  align-self: stretch;

  span {
    position: absolute;
    top: -10px;
    left: var(--padding-standard);
    transform: scale(0.8);
    transform-origin: left;
    background: rgb(var(--dark));
    padding: 0 0.5rem;
    transition: all 0.3s;
  }

  &:has(input:placeholder-shown):has(input:not(:focus)) span {
    transform: none;
    top: 10px;
    left: 5px;
  }

  &:has(input:required) span::after {
    content: '*';
    color: rgb(var(--red));
    margin-left: 0.25rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-standard);
  align-items: flex-start;
  align-self: stretch;
  
  &:invalid {
    button[type="submit"] {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.card {
  padding: var(--padding-standard);
  background-color: rgb(var(--light));
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  border: 1px solid rgba(var(--dark), 0.02);

  display: flex;
  flex-direction: column;
  gap: var(--padding-standard);
  padding: var(--padding-standard);
}

.hide {
  display: none;
}