---
import Layout from '../../layouts/Layout.astro';
import { Team } from '../../types';
import {GET as GetQuiz} from '../api/quiz';
import {GET as GetTeam} from '../api/team/[id]';
import { GET as GetTeams } from '../api/teams';

const quizName = (await ((await GetQuiz(Astro)).json())).message.name;
const team = (await ((await GetTeam(Astro)).json())).message as Team;

export const getStaticPaths = (async (): Promise<{ params: { id: string } }[]> => {
  const json = await ((await GetTeams(Astro)).json());
  const teams = json.message as Team[];
  return teams
    .map(team => ({
      params: {
        id: team.id
      }
    }));
});

---

<Layout title={quizName}>
  {
    team ?
    <header>
      <h1>{team.name}</h1>
      <span>Current Points: {team.totalPoints}</span>
    </header>    
    <main data-teamid={team.id}>
    </main>
    :
    <span>Sorry but this team doesn't exist!</span>
  }
  <script>
    import { Question } from '../../types';
    import WsClientTeam from '../../websockets/ws-client-team.ts';

    const teamId = document.querySelector('main')?.dataset.teamid;
    const main = document.querySelector('main') as HTMLElement;

    main.addEventListener('ws-join', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    main.addEventListener('ws-error', (event) => {
      const { detail } = event as CustomEvent;
      console.error(detail);
    });

    main.addEventListener('ws-change-round', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
      const question: Question = detail.message;
      const questionElement = document.createElement('simple-question') as HTMLElement;
      questionElement.setAttribute('question', question.question);
      questionElement.setAttribute('imageUrl', question.imageUrl?.toString() || '');
      questionElement.setAttribute('forKids', question.forKids?.toString() || 'false');
      main.appendChild(questionElement);
    });

    main.addEventListener('ws-change-question', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    main.addEventListener('ws-add-points', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    if (teamId) {
      const ws = new WsClientTeam(teamId, main);
      
    }

    
  </script>
</Layout>