---
import JsonDataService from '../../data/JsonDataService';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params;
const dataService = new JsonDataService();
const quizName = (await dataService.getQuiz()).name;
const team = await dataService.getTeam(id || '');

export const getStaticPaths = (async () => {
  const dataService = new JsonDataService();
  return (await dataService.getTeams())
    .map(team => ({
      params: {
        id: team.id
      }
    }));
});

---

<Layout title={quizName}>
  {
    team ?
    <header>
      <h1>{team.name}</h1>
      <span>Current Points: {team.totalPoints}</span>
    </header>    
    <main data-teamid={team.id}>
    </main>
    :
    <span>Sorry but this team doesn't exist!</span>
  }
  <script>
    import WsClientTeam from '../../websockets/ws-client-team.ts';

    const teamId = document.querySelector('main')?.dataset.teamid;
    const main = document.querySelector('main') as HTMLElement;

    main.addEventListener('ws-join', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    main.addEventListener('ws-error', (event) => {
      const { detail } = event as CustomEvent;
      console.error(detail);
    });

    main.addEventListener('ws-change-round', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    main.addEventListener('ws-change-question', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    main.addEventListener('ws-add-points', (event) => {
      const { detail } = event as CustomEvent;
      console.log(detail);
    });

    if (teamId) {
      const ws = new WsClientTeam(teamId, main);
      
    }

    
  </script>
</Layout>