---
import JsonDataService from '../../data/JsonDataService';
import Layout from '../../layouts/Layout.astro';

export const prerender = false;

const quizName = (await JsonDataService.getQuiz()).name;
const host = await JsonDataService.getHost();

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const password = data.get("password");
console.log(password)
    if (password === host.password) {
      const token = Buffer.from(new Date().toISOString()).toString('base64');
      JsonDataService.setHostToken(token);
      Astro.cookies.set("token", token, { path: "/" });
      return Astro.redirect("/host/quiz");
    } else {
      throw new Error("Invalid password");
    }
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title={quizName}>
  <header>
    <h1>Host Login</h1>
  </header>    
  <main>
    <form method="POST">
      <label>
        <span>Password</span>
        <input type="password" name="password" required />
      </label>
      <button type="submit">Login</button>
    </form>
  </main>
    
  <script>
    import WsClientHost from '../../websockets/ws-client-host.ts';

    document.addEventListener('DOMContentLoaded', () => {
      let ws: WsClientHost;

      const main = document.querySelector('main') as HTMLElement;
      const token = localStorage.getItem('token');
      
      main.addEventListener('ws-join', (event) => {
        const { detail } = event as CustomEvent;
      });

      main.addEventListener('ws-error', (event) => {
        const { detail } = event as CustomEvent;
        console.error(detail);
      });

      main.addEventListener('ws-answer', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      main.addEventListener('ws-change-round', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      main.addEventListener('ws-change-question', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      // startButton.addEventListener('click', async () => {
      //   if (ws) {
      //     ws.startQuiz();
      //   }
      // });

      // nextButton.addEventListener('click', async () => {
      //   if (ws) {
      //     ws.nextQuestion();
      //   }
      // });
    });
  </script>
</Layout>