---
import JsonDataService from '../../data/JsonDataService';
import Layout from '../../layouts/Layout.astro';

const dataService = new JsonDataService();
const quizName = (await dataService.getQuiz()).name;
const host = await dataService.getHost();
---

<Layout title={quizName}>
  <header>
    <h1>Host Login</h1>
  </header>    
  <main>
    <form class="hide">
      <label>
        <span>Password</span>
        <input type="password" name="password" required />
      </label>
      <button type="submit">Login</button>
    </form>
    <button class="start-button">Start Quiz!</button>
    <button class="next-button">Next Question!</button>
  </main>
    
  <script>
    import WsClientHost from '../../websockets/ws-client-host.ts';

    document.addEventListener('DOMContentLoaded', () => {
      let ws: WsClientHost;

      const main = document.querySelector('main') as HTMLElement;
      const token = localStorage.getItem('token');
      const form = document.querySelector('form') as HTMLFormElement;
      const startButton = document.querySelector('.start-button') as HTMLButtonElement;
      const nextButton = document.querySelector('.next-button') as HTMLButtonElement;

      main.addEventListener('ws-join', (event) => {
        const { detail } = event as CustomEvent;
        form.classList.add('hide');
        startButton.classList.remove('hide');
      });

      main.addEventListener('ws-error', (event) => {
        const { detail } = event as CustomEvent;
        console.error(detail);
      });

      main.addEventListener('ws-answer', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      main.addEventListener('ws-change-round', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      main.addEventListener('ws-change-question', (event) => {
        const { detail } = event as CustomEvent;
        console.log(detail);
      });

      main.addEventListener('ws-close', (event) => {
        form.classList.remove('hide');
        startButton.classList.add('hide');
      });

      if (token) {
        ws = new WsClientHost('', main);
      } else {
        form.classList.remove('hide');
        startButton.classList.add('hide');
      }

      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const password = formData.get('password') as string;
        
        if (password) {
          ws = new WsClientHost(password, main);
        }
      });

      startButton.addEventListener('click', async () => {
        if (ws) {
          ws.startQuiz();
        }
      });

      nextButton.addEventListener('click', async () => {
        if (ws) {
          ws.nextQuestion();
        }
      });
    });
  </script>
</Layout>