---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Quiz Pop Bang!">
	<header>
		<h1>Welcome to Quiz Pop Bang!</h1>
	</header>
	<main>
		<span>We're so glad you found us!</span>
		<span>Fancy joining in the fun? Here's how:</span>
		<span>...</span>
	</main>
</Layout>
