---
import Layout from './Layout.astro';

interface Props {
	title: string;
	subtitle?: string;
}

const { title, subtitle } = Astro.props;

---
<Layout title={title}>
	<header>
		<div>
      <h1>{title}</h1>
      <span>{subtitle}</span>
    </div>
	</header>
	<main>
		<slot />
	</main>
</Layout>
